@import url(https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap);
@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  height: 100%;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input, textarea {
  -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  -moz-appearance: revert;
       appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre) {
  all: revert;
}

/* reset default text opacity of input placeholder */
::-moz-placeholder {
  color: unset;
}
::placeholder {
  color: unset;
}

/* remove default dot (•) sign */
::marker {
  content: initial;
}

/* fix the feature of 'hidden' attribute.
 display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
 - fix for the content editable attribute will work properly.
 - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable=true]) {
  -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
  all: revert;
}

body {
  font-family: "Kumbh Sans", sans-serif;
}

.d-flex {
  display: flex;
}

.product-page {
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.product-page .product-container {
  width: 100%;
  margin: 25px;
}
.product-page .product-container > div {
  width: 50%;
}
.product-page .product-container .product-img {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.product-page .product-container .product-img img {
  width: 25rem;
  height: 22rem;
  border-radius: 10px;
}
.product-page .product-container .product-img .product-image-gallary {
  gap: 20px;
}
.product-page .product-container .product-img .product-image-gallary img {
  width: 5rem;
  height: 5rem;
}
.product-page .product-container .product-img .product-image-gallary img.selected-img {
  opacity: 0.3;
  box-shadow: 0px 0px 0px 2px rgb(172, 76, 2);
}
.product-page .product-container .product-details h1 {
  font-size: 38px;
}
.product-page .product-container .product-details p {
  font-size: 14px;
  color: #858486;
}
.product-page .product-container .product-details .product-discounted {
  font-weight: bold;
  font-size: 22px;
  margin-right: 10px;
}
.product-page .product-container .product-details .discount-badge {
  background: rgba(236, 199, 148, 0.5019607843);
  color: #da6b25;
  font-size: 14px;
  font-weight: 600;
  padding: 1px 7px;
  border-radius: 3px;
}
.product-page .product-container .product-details .full-price {
  text-decoration: line-through;
  font-size: 14px;
  color: #ccc;
  margin-block: 15px;
  font-weight: 600;
}
.product-page .product-container .product-details .btn-group {
  background: #f7f8fd;
  gap: 17px;
  padding: 10px;
  align-items: center;
  font-weight: 500;
}
.product-page .product-container .product-details .btn-group > div {
  width: 20px;
}
.product-page .product-container .product-details .btn-group button {
  border: 0;
  background: transparent;
  color: #ff7d1b;
  padding-inline: 10px;
  font-size: 22px;
  font-weight: 500;
}
.product-page .product-container .product-details .add-to-cart {
  background-color: #ff7d1b;
  color: #fff;
  border-radius: 5px;
  padding: 10px 40px;
  margin-left: 15px;
  font-size: 16px;
  border: none;
  gap: 12px;
  align-items: center;
}
.product-page .product-container .product-details .add-to-cart .cart {
  background-image: url(/images/shopping_cart.png?c3ee4c2…);
  width: 20px;
  display: block;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
}

@media (min-width: 375px) and (max-width: 760px) {
  .product-page .product-container {
    flex-direction: column;
    margin: 10px;
  }
  .product-page .product-container > div {
    width: 100%;
  }
  .product-page .product-container .product-img {
    gap: 10px;
  }
}
